NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=look at clerk
CLERK_SECRET_KEY=on clerk
SUPABASE_URL=on supabase
SUPABASE_KEY=check vercel env vars (or supabase)
SUPABASE_TCP_URL=supabase ipv4 compatible pooler connection
MODAL_ENDPOINT_URL=modal function url
MODAL_KEY=proxy auth token key
MODAL_SECRET=proxy auth token secret
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_SECRET=
CLOUDFLARE_ACCOUNT_ID=